* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body::-webkit-scrollbar{
    width: 0;
}

.jumbotron {
  background-color: #38527E; 
  height: 335px;
  text-align: center;
  margin-bottom: 24px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;   
  align-items: center;
} 

.jumbotron-1 h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

.jumbotron-1 p {
  font-size: 1.25rem;
  font-weight: 300;
}


.jumbotron h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 24px;
}

.jumbotron p {
  font-size: 24px;
  margin-bottom: 24px;
} 

.navbar {
    background-color: #38527E;
    position: sticky;
    top: 0;
    z-index: 1;
}

.backend {
    margin-top: -80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}  

#card{
    z-index: 0;
}

.overflow-x-auto{
   display: flex;
   gap: 5px;
 }

.overflow-x-auto::-webkit-scrollbar{
  width: 0;
}

.img-cover {
  transition: transform 0.3s ease;
  height: 250px;
  object-fit: cover;
}

.img-cover:hover {
    transform: scale(0.8); /* Atur faktor skala sesuai kebutuhan */
    object-fit: contain;
}

#hubungi{
  position: sticky;
  bottom: 30px;
  text-align: end;
  margin-right: 30px;
}
    

@media (min-width: 992px) {


    .navbar {
        background-color: #38527E;
        position: sticky;
        top: 0;
    }  

    .nav-link{
      color: white;
    }

    .nav-link:hover {
      color: rgb(179, 179, 179);
    }
    
    .nav-link:active{
      color: rgb(179, 179, 179);
    }
 
    .navbar-brand {
        color: white;
    }

    .jumbotron {
        height: 440px;
        margin-top: -100px;
    } 

    .mt-6 {
        margin-top: 6rem;
    }

}
